---
---

@import "{{ site.theme }}";

$colorBaseBg: #080808;
$colorBoldBg: #11202f;
$colorBase:   #aaafb4;
$colorBold:   #a5835c;
$colorAction: #ff8800;

body,html {
	color: $colorBase;
	background: $colorBaseBg;
}
#title:before {
	display:block;
	width:100px;
	height:100px;
	background-image: url('/aurora/assets/logo-kxmn-dev.png?v2');
	float:left;
	content:"";
}
section #title h1 {
	line-height:50px;
	vertical-align:middle;
	text-transform:capitalize;
	font-size:5em;
	font-weight:bold;
	padding-left:30px;
}
section #title p {
	padding-left:130px;
	text-align:left;
}

#title h1:before {
	display:none;
}
#title h1, a:link, a:visited, a:hover {
	color:$colorAction;
}

#header {
	position:absolute;
	background:transparent;
	border:none;
	box-shadow:none;
	right:0;
	left:auto;
	width:auto
}
:target {text-shadow:0 0 5px $colorAction}

ul,ol,li { list-style-image: none}
ol {list-style-type: decimal}
ol > li > ol {list-style-type:disc}
li > ul {list-style-type:circle}
dt {color:inherit;font-family:inherit}

h1 {font-size:2.5em;font-weight:bold;}
h2 {font-size:1.8em;}
h3 {font-size:1.5em; color:#fa8;}
hr {background:none;border:1px dashed #696969;height:1px}
[id]>code {
	background:inherit;
	color:inherit;
	font-family:inherit;
	font-size:inherit;
	padding:0;
}
a>code {
	color:inherit;
	background:inherit;
	font-size:inherit;
}

pre code {
	color:$colorBase;
}

.wrapper {
	background:#181818;
	border:1px solid #222222;
}
.wrapper > section {
	margin-top:0;
}

h1, h2, h3, h4 {
	display:inline-block;
	margin-bottom:0.5em;
	background:#181818;
	color:$colorBold;
	padding-right:10px;
}

h1:before, h2:before, h3:before {
	border-bottom:1px dashed #696969;
	margin-top:0.5em;
	display:block;
	content:'';
	width:calc(100% - 40px);
	position:absolute;
	z-index: -1;
}


blockquote {
	border-left: 3px solid #ff6600;
}

pre { border:1px dashed $colorBold; }

code {
	color: $colorBold;
	border:none;padding:1px 2px;
	font-family: Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
	margin:0;
}

#header nav li a {
	border:1px solid #742;
	background:linear-gradient(#521, #742);
	background-color:#521;
	border-radius:20px;
}

@media screen and ( max-width:600px ) {
	section #title h1 {
		padding-left:0;
		text-align:center;
		display:block;
		line-height:1em;
		margin:0 0 0.2em 0;
	}
	section #title p {padding-left:0; text-align:center}
	#title:before {
		float:none;
		margin:auto;
	}
}

footer .credits.left {
    float: left;
}
footer .credits.right {
    float: right;
}
footer .credits {
    font-size: 11px;
    font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #696969;
    margin-top: -10px;
}
